@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Zen Old Mincho';
  font-weight: 900;
  src: url(./fonts/ZenOldMincho-Black.ttf);
}
@font-face {
  font-family: 'Zen Old Mincho';
  font-weight: 600;
  src: url(./fonts/ZenOldMincho-Bold.ttf);
}
@font-face {
  font-family: 'Zen Old Mincho';
  font-weight: 500;
  src: url(./fonts/ZenOldMincho-Medium.ttf);
}
@font-face {
  font-family: 'Zen Old Mincho';
  font-weight: 400;
  src: url(./fonts/ZenOldMincho-Regular.ttf);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Zen Old Mincho';
  font-weight:600;
}

iframe.youtube-16-9 {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  }

:root {
  @apply w-full h-full flex items-stretch;
}

body {
  @apply text-base w-full h-full h-full bg-gray-700;
  font-family: 'Zen Old Mincho, sans-serif';
  font-weight: 400;
  color: #212121;
}

.blue {
  @apply text-blue-500;
}

.blue_background {
  @apply bg-blue-500;
}

.green {
  @apply text-green-500;
}

.green_background {
  @apply bg-green-500;
}

.red {
  @apply text-red-500;
}

.red_background {
  @apply bg-red-200;
}

.yellow {
  @apply text-yellow-600;
}

.yellow_background {
  @apply bg-yellow-200;
}

.pink {
  @apply text-pink-500;
}

.pink_background {
  @apply bg-pink-200;
}

.purple {
  @apply text-purple-500;
}

.purple_background {
  @apply bg-purple-200;
}

.orange {
  @apply text-orange-500;
}

.orange_background {
  @apply bg-orange-200;
}

.brown {
  @apply text-yellow-800;
}

.brown_background {
  @apply bg-yellow-200;
}

.gray {
  @apply text-gray-200;
}

.gray_background {
  @apply bg-gray-100;
}

.container {
  @apply w-full h-full h-full flex flex-col justify-center items-center bg-gray-700;
}

.container .box {
  @apply max-w-[1200px] mx-auto h-[100vh] w-full h-full flex bg-white shadow-2xl items-stretch;
}

.container main {
  @apply w-[calc(100%_-_300px)] h-full ml-auto min-h-[100vh];
  font-family: 'Zen Old Mincho, sans-serif';
}

.container aside {
  @apply w-full max-w-[300px] h-full fixed bg-gray-900 text-white;
}

.container .logo {
  font-family: 'Zen Old Mincho', cursive;
}
.container aside .logo {
  @apply text-4xl text-center pt-7;
}

.container .sub-title {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 600;
}
.container aside .sub-title {
  @apply text-xl text-center py-3;
}

nav a {
  @apply text-white text-xl text-center hover:text-yellow-100 py-3 block;
  font-family: 'Zen Old Mincho', serif;
}

nav a.current {
  @apply font-bold bg-white text-gray-900 hover:text-yellow-600;
}

.content {
  font-family: 'Zen Old Mincho', sans-serif;
}

/* sns */
.sns-button {
	max-width: calc(99% / 3);
	width: 100%;
}

.sns-button > button {
	padding-right: 15px !important;
	border-radius: 4px;
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff !important;
	font-size: 16px !important;
	justify-content: center;
}

.sns-button > button:hover {
	opacity: 0.7;
}

.sns-button.x > button {
	background: #000 !important;
	box-shadow: 0 4px 0 #333;
}

.sns-button.facebook > button {
	background: #0965fe !important;
	box-shadow: 0 4px 0 #362eb2;
}

.sns-button.hatena > button {
	background: #019bd9 !important;
	box-shadow: 0 4px 0 #0277a5;
}


/* .content h2 {
  @apply text-xl font-bold text-gray-900 py-5;
}

.content h3 {
  @apply text-lg font-bold text-gray-900 py-5;
} */

/* h2とh3の見出しデザイン */
.content h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  border-bottom: 2px solid rgb(214 182 61); /* 下線を付ける */
  padding-bottom: 5px;
  margin-bottom: 20px;
  background:none;
}

.content h3 {
  font-family: 'Arial', sans-serif;
  font-size:20px;
}

.content h3 {
  border-bottom: solid 3px #c7ccdf;
  position: relative;
}

.content h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #d6b63d;
  bottom: -3px;
  width: 20%;
}


.content p {
  @apply text-gray-900 py-4;
  line-height: 2;
}

/* .content ul {
  @apply text-gray-900 py-5 list-disc list-inside  border border-emerald-300;
}

.content > ol {
  @apply text-gray-900 py-5 list-inside  border border-emerald-300;
}

.content li {
  @apply text-gray-900 py-2;
} */


/* 全体的に洗練されたデザインを意識 */
.content ul, .content ol:not(div .main-toc-container ol) {
  list-style: none; /* デフォルトの箇条書きマーカーを削除 */
  padding:0px;
  margin:30px 0;
  background: none; /* 背景色を薄いグレーに */
  overflow: hidden; /* 子要素の溢れを隠す */
}

.content ul li, .content ol:not(.main-toc-container div ol) li {
  padding: 15px 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  margin-left:0;
  border-left:6px solid #7f89af;
  box-shadow:0px 3px 3px #e5e2e2; /* 項目間の区切り線 */
  background:#fff; /* 各項目の背景色を白に */
  transition: background 0.3s ease, color 0.3s ease; /* ホバー時の滑らかな変化 */
}

.content ul li:last-child {
  border-bottom: none;
}

.content ul li > ul {
  margin-left: 20px; /* ネストしたリストのインデント */
}

.content ul li > ul li{
border:none;
box-shadow:none;
border-bottom:1px solid #b8b8b8;
}

/* アイコン付きリストのスタイル (オプション) */
.content ul li::before {
  content: '\2022'; /* カスタムのマーカー (黒丸) */
  color: #d6b63d; /* マーカーの色 */
  font-size: 18px;
  margin-right: 10px;
  display: inline-block; /* マーカーをテキストと同じ行に配置 */
  vertical-align: middle;
}

/* メディアクエリでレスポンシブデザイン対応 */
@media (max-width: 600px) {
  .content ul li {
      font-size: 14px; /* 小さい画面では文字を少し小さく */
      padding: 10px 15px;
  }
}

/* OLタグのスタイル */

.content ol:not(.main-toc-container  ol) {
  list-style: none; /* デフォルトの番号付けを削除 */
}

.content ol:not(.main-toc-container div ol) li {
  counter-increment: list-counter; /* 番号をカウント */
  border-left:#0c7064 solid 6px;
}

.content ol:not(.main-toc-container div > ol) li > ol {
  margin-left: 20px; /* ネストしたリストのインデント */
}

.content ol:not(.main-toc-container div > ol) li:last-child {
  border-bottom: none; /* 最後の項目には区切り線を付けない */
}


/* 番号のスタイル */
.content ol:not(div .main-toc-container div ol) li::before {
  content: counter(list-counter) '.'; /* 番号付きのマーカー */
  color: #9e8323; /* 番号の色 */
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block; /* 番号をテキストと同じ行に配置 */
  vertical-align: middle;
}

/* メディアクエリでレスポンシブデザイン対応 */
@media (max-width: 600px) {
 .content ol li {
      font-size: 14px; /* 小さい画面では文字を少し小さく */
      padding: 10px 15px;
  }
}


.content a {
  @apply text-sky-600 border-sky-600;
  border-bottom: 1px dotted;
  font-weight: 600;
}

.content a.card-link p.card-description {
  @apply text-gray-500 mb-2 my-1 w-full text-ellipsis whitespace-nowrap overflow-hidden font-normal text-[12px];
}
.content a.card-link p.card-title {
  @apply whitespace-nowrap text-base font-bold text-gray-800 w-full text-ellipsis overflow-hidden;
}

.content a.card-link {
  border: none;
  font-weight: normal;
  border: 1px solid #e6e6e6;
}

/* toc */
.main-toc-container {
  width: 100%;
  background-color: #ebebeb;
  padding: 20px;
  margin: 20px 0 30px;
  font-size: 15px;
  color: #1b222e;
  border-radius: 4px;
}

.post .main-toc-container div > ol {
  margin:0;
  all:unset;

}

.main-toc-container label {
  position: relative;
  width: 100%;
}

.main-toc-container label::before {
  content: '開く';
  position: relative;
  right: 0;
  top: 0;
  padding: 3px 10px;
  margin-left: 15px;
  font-size: 12px;
  width: 100%;
  color: #1b222e;
  border-radius: 2px;
  border: 1px solid #1b222e;
  background: #fff;
}
#mainToc {
  display: none;
}

.main-toc-container #mainToc:checked ~ label::before {
  content: '閉じる';
}

.content .main-toc {
  display: none;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
}

.main-toc-container #mainToc:checked ~ .main-toc {
  display: block;
}

.content.main-toc > ol {
  border: none;
  padding: 20px 30px;
  border: none;
}

.content .main-toc li a {
  border-bottom: none;
  color: #1b222e;
  font-weight: 300;
}

.toc,
.main-toc {
  @apply font-normal pt-4 text-base text-gray-900;
}

.toc {
  @apply p-4 font-black;
}

.toc::-webkit-scrollbar {
  width: 10px;
}
.toc::-webkit-scrollbar-track {
  @apply bg-white;
}
.toc::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

.toc-list ol {
  @apply ml-4 text-sm;
}

.toc li,
.main-toc li {
  @apply mt-1;
}

.toc .is-active-link {
  @apply text-sky-600 font-semibold;
}

.toc {
  @apply scroll-smooth;
  margin: 0 auto;
  padding: 2em 3em;
  overflow-y: scroll;
  height: 100%;
  background-color: #fff;
}

.toc ol,
.main-toc ol {
  counter-reset: hl_count;
  list-style: none;
}

.toc li,
.main-toc li {
  counter-increment: hl_count;
}

.toc li:before,
.main-toc li:before {
  content: counters(hl_count, '-');
}

.toc ol ol,
.toc li ol li,
.main-toc ol ol,
.main-toc li ol li {
  margin-top: 6px;
}

.toc li:before,
.main-toc li:before {
  margin-right: 0.5em;
  padding: 0.1em 0.7em;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
}

.content .main-toc li:before {
  font-size: 14px;
  padding-left: 5px;
  padding-top: 0px;
}

.toc li,
.main-toc li {
  padding-left: 1em;
  text-indent: -1.7em;
}

.toc li ol li,
.main-toc li ol li {
  padding-left: 1em;
  text-indent: -3em;
}

.toc li ol li ol li,
.main-toc li ol li ol li {
  padding-left: 1em;
  text-indent: -4em;
}

.toc li ol,
.main-toc li ol {
  margin: 6px 6px 6px 12px;
}

.toc li ol li ol,
.main-toc li ol li ol {
  margin-left: 3em;
}

.toc span:after,
.main-toc span:after {
  content: ' ';
  display: block;
  height: 0.6em;
}

.toc li:before,
.post .main-toc li:before {
  color: #fff;
  font-weight: 400;
  background-color: #666;
}

/* hm */
.open-btn {
  position: relative;
  background: #ffffff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #848484 inset;
  display: block;
}

.open-btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 5px;
  background: #111827;
  width: 47%;
}

.open-btn span:nth-of-type(1) {
  top: 13px;
}

.open-btn span:nth-of-type(2) {
  top: 19px;
}

.open-btn span:nth-of-type(3) {
  top: 25px;
}

.open-btn span:nth-of-type(3)::after {
  content: 'Menu';
  position: absolute;
  top: 5px;
  left: -2px;
  color: #111827;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.hm-content {
  @apply hidden;
}

.hm-title {
  @apply bg-gray-950 p-4 text-gray-400 mb-0;
}

#hmCheck:checked ~ .hm-content {
  @apply block fixed overflow-y-auto w-full h-full top-[0px] left-0 bg-gray-900 z-10 bg-opacity-90;
}

.hm-content nav {
  @apply p-4;
}

.hm-content nav:last-of-type {
  @apply mb-20;
}

.hm-content nav ul li {
  @apply p-0 border-b-[1px] border-dotted border-gray-500;
}

.hm-content nav ul li:last-child {
  @apply border-none;
}

.hm-content nav ul li a {
  @apply text-gray-400 text-base block p-4;
}

#hmCheck:checked ~ .open-btn {
  @apply relative z-20;
}

#hmCheck:checked ~ .open-btn span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

#hmCheck:checked ~ .open-btn span:nth-of-type(2) {
  opacity: 0;
}

#hmCheck:checked ~ .open-btn span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#hmCheck:checked ~ .open-btn span:nth-of-type(3)::after {
  content: 'Close';;
  transform: translateY(0) rotate(-45deg);
  top: 5px;
  left: 4px;
}

.top-news {
  max-width: calc(100% - (250px + 1.5rem));
}

@media screen and (max-width: 1200px) {
  .container aside {
    display: none;
  }
  .container main {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .top-news {
    max-width: 100%;
  }
}
